<link
  href="https://fonts.googleapis.com/css?family=Libre Barcode 39"
  rel="stylesheet"
/>

<div class="visitor-form-container">
  <h2 style="text-align: center">Request Queue Number</h2>
  <div class="button-group">
    <button class="back-button" (click)="navigateToRoot()">Back</button>

    <button (click)="requestQueueNumber()" class="button-call">
      Call Next Patient
    </button>
  </div>
</div>

<div
  class="visitor-form-container2"
  *ngIf="nextPatient || visitors.length > 0; else noPatientAvailable"
>
  <div class="company-name">
    <p class="queue-company">ALMEGATEX</p>
  </div>

  <hr />
  <div class="company-name">
    <span>Nomor antrian anda:</span>
    <p class="queue-number">{{ queueNumber }}</p>
  </div>

  <!-- <div class="barcode-container">
    <ngx-barcode class="barcode" [bc-value]="queueNumber"></ngx-barcode>
  </div> -->

  <div class="coba-barcode">
    <span>{{ queueNumber }}</span>
  </div>
  <div>
    <p>{{ nextPatient?.name || visitors[0]?.name }}</p>
  </div>

  <div class="current-time">
    <p>{{ currentTime }}</p>
  </div>
  <hr />

  <div class="thank-you-message">
    <p>Budayakan antri untuk kenyamanan bersama</p>
    <p>Terima Kasih atas kunjungan anda</p>
  </div>
</div>

<ng-template #noPatientAvailable>
  <div class="visitor-form-container">
    <p>No more patients available.</p>
  </div>
</ng-template>
