<div class="container">
  <div class="header-patient">
    <h2>Patient List</h2>
    <div class="add-patient">
      <div class="search-container">
        <input
          type="text"
          placeholder="Search..."
          [(ngModel)]="searchTerm"
          (input)="search()"
          class="search-input"
        />
      </div>
      <button class="add-patient-button" (click)="redirectToInputDetails()">
        Add New Patient
      </button>
    </div>
  </div>
  <table id="visitorTable" class="table">
    <thead>
      <tr>
        <th>Queue</th>
        <th>Patient Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>NIK</th>
        <th>PIC</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let visitor of filteredVisitors; let i = index">
        <td>{{ "A" + (i + 1).toString().padStart(3, "0") }}</td>
        <td>{{ visitor.name }}</td>
        <td>{{ visitor.address }}</td>
        <td>{{ visitor.phone }}</td>
        <td>{{ visitor.npwp }}</td>
        <td>{{ visitor.pic }}</td>
        <td>{{ visitor.customer_price_category }}</td>
      </tr>
    </tbody>
  </table>
  <button class="back-button" (click)="navigateToRoot()">Back</button>
</div>
